<%- include('../partials/header.ejs') %>

<h1>EDIT</h1>

<h5>/invoice/<%= id %></h5>

<form action="/invoice/<%= id %>?_method=PUT" method="POST">
  <input type="number" name="invoice_number" placeholder="Factuurnummer" value="<%= invoice.id %>">

  <input type="text" name="name" placeholder="naam" value="<%= invoice.name %>">
  <input type="text" name="address" placeholder="adres" value="<%= invoice.address %>">
  <input type="text" name="postal" placeholder="postcode" value="<%= invoice.postal %>">

  <input type="date" name="date" value="<%= invoice.date %>">
  <input type="date" name="enddate" value="<%= invoice.enddate %>">

  <input type="text" name="description" placeholder="omschrijving" value="<%= invoice.description %>">

  <input type="text" name="hours" placeholder="uren" value="<%= invoice.hours %>">
  <input type="text" name="hourly" placeholder="per uur" value="<%= invoice.hourly %>">

  <ul class="materials">
  <% materials.forEach(material => { %>
    <% if (invoice.hoursPrice == "0" || invoice.hoursPrice == null) { %>
    <li>
        <input class="material" type="text" name="materials[name]" placeholder="materiaal" value="<%= material.name %>" disabled>
        <input class="price" type="text" name="materials[price]" placeholder="prijs" value="<%= material.price %>" disabled>
        <button class="removeMaterial" disabled>-</button>
    </li>
    <% } else { %>
    <li>
        <input class="material" type="text" name="materials[name]" placeholder="materiaal" value="<%= material.name %>">
        <input class="price" type="text" name="materials[price]" placeholder="prijs" value="<%= material.price %>">
        <button class="removeMaterial">-</button>
    </li>
    <% } %>
      
  <% }) %>
    <li> <!-- sending along empty hidden li to force materials.name and materials.price to be an array even with only 1 material -->
      <input class="material disable_for_static" type="hidden" name="materials[name]" value="">
      <input class="price disable_for_static" type="hidden" name="materials[price]" value="">
      <button class="removeMaterial disable_for_static">-</button>
    </li>
  </ul>
  <button id="addMaterial">+</button>

  <select id="vatDropdown" name="vat" data-option="<%= invoice.vat %>">
    <option value="null">BTW %</option>
    <option value="9">9%</option>
    <option value="21">21%</option>
  </select>

  <% if (invoice.hoursPrice == "0" || invoice.hoursPrice == null) { %>
    <input id="staticPriceCb" type="checkbox" value="true" checked>
    <input id="staticPrice" type="text" name="staticPriceSubtotal" value="<%= invoice.subtotal %>">
  <% } else { %>
    <input id="staticPriceCb" type="checkbox" value="true">
    <input id="staticPrice" type="text" name="staticPriceSubtotal" disabled>
  <% } %>
  
  <input type="submit" value="Update">
</form>

<%- include('../partials/footer.ejs') %>